@model Ogrenci

<p>
    <b>@Model.OgrenciAd @Model.OgrenciSoyad</b> İsimli Öğrenciyi silmek istiyor msuunuz ?

    <form action="Delete" method="post">
        <input type="hidden" asp-for="@Model.OgrenciId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a class="btn btn-primary" asp-action="Index">Hayır</a>
    </form>
</p>