@model Ogretmen

<p>
    <b>@Model.OgretmenAd @Model.OgretmenSoyad</b> İsimli öğretmeni silmek istiyor msuunuz ?

    <form action="Delete" method="post">
        <input type="hidden" asp-for="@Model.OgretmenId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a class="btn btn-primary" asp-action="Index">Hayır</a>
    </form>
</p>